<!DOCTYPE html>
<html>
    <head>
        <title>Add Car to Edison</title>
    </head>

    <body>
        <h1>Add Car details</h1>
        {% if added="create_entry" %}
            <form action="{{ url_for('car_profile') }}" method="POST">
                Add Car longitude: <input type="text" name="longitude"><br><br>
                Add Car Latitude: <input type="text" name="latitude"><br><br>
                <input type="hidden" name="added" value="add_car">
                <input type="submit" value="Submit">

            </form>

        {% elif added="add_car" %}
        <p>Your car has been added to our Database</p>
        <a href="{{url_for('index')}}"

        {% endif %}
    </body>


</html>