<!DOCTYPE html>
<html>
    <head>
        <title>Edison Home Page</title>
        <link rel="stylesheet" href="index.css">
    </head>
    <body>
        <h1 style="text-align:center; border: 1px solid black;">Welcome to Edison Ride Sharing services</h1>

        <a href="/user">Go to user profile</a><br><br>

        <a href="/add_car">Add a car to database</a><br><br>

        <a href="/see_rides">Show rides for a user</a><br><br>

        <a href="/schedule_ride">Schedule A Ride</a><br><br>

        <a href="/delete_car">Delete your car</a>

    </body>
</html>

